.List-Todo-Container{
      .add-Todo{

      }
      button {
        cursor: pointer;
    }

      .List-Todo-content{
        width: 400px;
        margin: 0px auto;
        .todo-child{
            &:first-child {
                border-top: 1px solid grey;
            }
            height       : 40px;
            border-bottom: 1px solid grey;
            margin       : 10px;
            .edit {
                margin: 0 10px;
            }
        }
      }
}